@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');

.projImg {
height: 60vh;
width: 80vh;
margin-left: 25vh;
box-shadow: 10;
}

.home {
  width: 100%;
  display: flex;
  /* background-image: url("https://cdna.artstation.com/p/assets/images/images/044/191/134/original/ryan-haight-kerry-park.gif?1639344426");
  background-repeat: no-repeat; */
  background: linear-gradient(to right, rgba(255,255,255,0) 5%,
  rgba(255,255,255,1)), url("https://cdna.artstation.com/p/assets/images/images/044/191/134/original/ryan-haight-kerry-park.gif?1639344426");
  background-size: 100%;
  background-position-y: 50%;

  z-index: 0;
}

.me {
  height: 75vh;
  margin-left: 45vh;
  margin-top: 15vh;
  margin-right: 0;
}

.App {
  text-align: center;
}