@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cormorant+SC:wght@700&family=Poiret+One&display=swap');


.projImg {
height: 60vh;
width: 80vh;
margin-left: 25vh;
box-shadow: 2px 2px 20px grey;
}

.projImg2 {
  height: 60vh;
  width: 80vh;
  margin-left: 10vh;
  margin-right: 25vh;
  box-shadow: 2px 2px 20px grey;
  }

.home {
  width: 100vh;
  display: flex;
  height: 100vh;
  background: transparent;
  /* background: linear-gradient(to right, rgba(255,255,255,0) 5%,
  rgba(255,255,255,.75)), url("https://cdna.artstation.com/p/assets/images/images/044/191/134/original/ryan-haight-kerry-park.gif?1639344426"); */
  background-size: 100%;
  background-position-y: 50%;
}

.contact {
  height: 10vh;
}
.email {
  text-decoration: rgb(27, 99, 61);
}
.email:hover {
  text-decoration: underline rgb(27, 99, 61);
}
.me {
  position: relative;
  height: 50vh;
  top: 220px;
  left: 300px;
  background: white;
  box-shadow: 1px 5px 10px grey;
}

.btn {
  font-size: 25px;
  text-align: left;
  font-family: 'Cardo', serif;
  font-style: italic;
  color: rgb(27, 99, 61);
  background: none;
  border: none;
  display: flex;
  position: relative;
  cursor: pointer;
  margin-right: 50px;
  margin-top: 15px;
}

.btn:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(27, 99, 61);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  font-family: "Poiret One", cursive;

}

.btn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  font-family: 'Poiret One', cursive;
}

.btn2 {
  padding: 5px;
  font-size: 20px;
  text-align: left;
  font-family: 'Cardo', serif;
  font-style: italic;
  color: rgb(27, 99, 61);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  left: 123vh;
  bottom: 35px;
}
.bt2:hover {
  color:rgb(99, 253, 171)
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.geek4 {
  width: 85%;
  background: rgb(27, 99, 61);
  height: 5px;
  margin-bottom: 25px;
}

.geek6 {
  width: 75%;
  background: rgb(27, 99, 61);
  height: 2px;
  
  margin-bottom: 75px;
}

.geek5 {
  width: 85%;
  background: rgb(27, 99, 61);
  height: 5px;
  margin-left: 15%;
  margin-bottom: 75px;
}
.geek7 {
  width: 75%;
  background: rgb(27, 99, 61);
  height: 2px;
  margin-left: 25%;
  margin-bottom: 25px;
}

.geeks {
  width: 85%;
  height: 2px;
  background: rgb(27, 99, 61);
  position: absolute;
  top: 10%;
  left: -85%; /* Initial position outside the left edge of the screen */
  animation: slideInFromLeft 5s ease forwards;
}

.geeks2 {
  width: 90%;
  height: 3px;
  background: rgb(27, 99, 61);
  position: absolute;
  top: 7.5%;
  left: -90%; /* Initial position outside the left edge of the screen */
  animation: slideInFromLeft 5s ease forwards;
}

.geeks3 {
  width: 95%;
  height: 5px;
  background: rgb(27, 99, 61);
  position: absolute;
  top: 5%;
  left: -95%; /* Initial position outside the left edge of the screen */
  animation: slideInFromLeft 5s ease forwards;
}

.another-div {
  width: 85%;
  height: 2px;
  background: rgb(27, 99, 61);
  position: absolute;
  top: 90%;
  right: -85%; /* Initial position outside the right edge of the screen */
  animation: slideInFromRight 5s ease forwards;
}
.another-div2 {
  width: 90%;
  height: 3px;
  background: rgb(27, 99, 61);
  position: absolute;
  top: 92.5%;
  right: -90%; /* Initial position outside the right edge of the screen */
  animation: slideInFromRight 5s ease forwards;
}
.another-div3 {
  width: 95%;
  height: 5px;
  background: rgb(27, 99, 61);
  position: absolute;
  top: 95%;
  right: -95%; /* Initial position outside the right edge of the screen */
  animation: slideInFromRight 5s ease forwards;
}
.App {
  text-align: center;
}