.myBubbleUI {
	width: 100%;
	max-width: 1000px;
	height: 500px;
	border-radius: 00px;
    border-width: 10px;
    background: rgb(27, 99, 61);
    box-shadow: inset .5px .5px 30px 5px rgb(49, 49, 49);
}

.child {
	width: 100%;
	height: 100%;
	border-radius: 50%;
    background: white;
    box-shadow: 5px 5px 15px black;
}