.myBubbleUI {
	width: 100%;
	max-width: 1000px;
	height: 500px;
	border-radius: 50px;
    border-width: 10px;
    background: white;
    box-shadow: inset .5px .5px 30px 5px rgb(82, 82, 82);
}

.child {
	width: 100%;
	height: 100%;
	border-radius: 50%;
    background: rgb(79, 91, 102);
    box-shadow: 5px 5px 10px;
}